.search-wrapper {
	.search-container {
		width: 90%;
		margin: 0 auto;
		padding-top: 2rem;
		.search-input {
			outline: none;
			width: 93%;
			font-size: 16px;
			padding: 12px 20px 12px 20px;
			border: 1px solid #ddd;
			margin-bottom: 12px;
		}
		.dropdown {
			list-style-type: none;
			padding: 0;
			margin: 0;
			width: 94.5%;
			.dropdown-list {
				display: flex;
				justify-content: space-between;
				border: 1px solid #ddd;
				margin-top: -1px; /* Prevent double borders */
				background-color: #f6f6f6;
				padding: 12px;
				text-decoration: none;
				font-size: 18px;
				color: black;
				cursor: pointer;
				.delete-text {
					color: red;
				}
			}
		}
	}
}
